$input-width: 300px;

$orange: orange;
$polkaPurple: rgb(230, 0, 122);

#Scanner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

#input-container {
  display: flex;
  flex-direction: column;
  width: $input-width;
}

.input-container__field {
  width: 100%;
  text-align: center;
}

#input-container__button {
  // border-radius: 5px;
  margin-top: 10px;
  background-color: rgba($polkaPurple, 0.95);
  // border-color: rgba($polkaPurple, 0.95);
  border: none;

  &:hover {
    background-color: rgba($polkaPurple, 0.75);
    // border-color: rgba($polkaPurple, 0.75);
    border: none;
  }
}

#loading-overlay__text {
  font-size: 300%;
  margin: 100px 0 50px 0;
}

#table-container {
  width: 80%;
  // border: 1px solid red;
}

#data-table {
  width: 100%;
  // border: 1px solid orange;
}

#progress {
  min-width: 588px;
}

#progress-count {
  // border: 1px solid red;
  // float: right;
  display: flex;
  margin: 5px 0;
  svg {
    height: 100%;
  }
}

#toolBox {
  display: flex;
  // border: 1px solid blue;
  margin-bottom: 10px;
  width: 80%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

#filter {
  border: 1px solid yellow;
  margin-left: 50px;
}

#loadingText {
  padding-left: 10px;
  color: $polkaPurple;
}